@media screen and (min-width: 895px){
.menu-icon {
    display: none;      
}
   
.menu-icon img {
    display: hidden;
}
}

@media screen and (max-width: 894px){
    
.body {
    overflow-x: hidden;
} 

.menu-icon img {
    display: block;
    cursor: pointer;
    z-index: 10;
    position: fixed;
    margin-left: 16%;
}

.navList {
    position: fixed;
    top: 7%;
    right: 0;
    width: 30%;
    height: 32%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: translateX(100%); 
    transition: transform 0.6s ease-in;
    font-weight: bold;
    font-size: 1.2em;
    background-color: rgba(0, 0, 0, 0.856);
}

.navList.open {
    transform: translateX(0);
}

.navList li {
    margin: 8px 0; 
    background-color: rgba(207, 192, 192, 0);   
}

.navList li a {
    background-color: rgba(7, 7, 7, 0.74);
}


.redesSociais {
    justify-content: center;          
}

.containerHome {
    display: block;
    text-align: center;
}

.containerSobreMim {
    display: block;
    text-align: center;
    margin-bottom: 400px;
}

.sobre {
    padding: 30px;
    text-align: center;
}

.sobre p {
    text-align: justify;
    padding: 0 5% 3%;  
}

.containerHabilidades {
    display: block;
    justify-content: center;
}

.containerMaster {
    justify-content: center;
}
}

@media screen and (max-width: 947px){
.containerMaster {
    display: flex;
    justify-content: center;
}

.redesSociais2 {
    padding: 2px;
}
}